<!doctype html>
<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <title>IC2140 IoT Log</title>
        <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    </head>
    <body>
        <h1 class="display-3 p-3 mb-2 bg-success text-white">IC2140 IoT Log</h1>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Sensor ID</th>
                    <th>Location</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Light Intensity</th>
                    <th>Sound Level</th>
                    <th>Recorded Time</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><strong>{{ event.node_id }}</strong></td>
                    <td><strong>{{ event.node_loc|upper }}</strong></td>
                    {% if event.temp < 21 %}
                    <td style="color:blue;">{{ event.temp }} °C</td>
                    {% elif event.temp > 29 %}
                    <td style="color:red;">{{ event.temp }} °C</td>
                    {% else %}
                    <td>{{ event.temp }} °C</td>
                    {% endif %}
                    <td>{{ event.hum }}%</td>
                    <td>{{ event.light }}%</td>
                    <td>{{ event.snd }} dB</td>
                    <td>{{ event.date_created }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</HTML>
